<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clonello</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Clonello</h1>
      <nav>
        <ul>
        {{#if loggedIn}}
          <li><a href="/dashboard">Dashboard</a></li>
          <li id="logout">Logout</li>
        {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>
</html>