<section class="create-project">
  <h2 id="project-form-header">Create New Project</h2>
  <form class="new-project-form" data-user-id="{{user.id}}"></form>
    <div>
      <input type="text" id="project-title" name="project-title" placeholder="Title" />
    </div>
    <br>
    <button type="submit" id="create-project-btn" class="btn">Create</button>
  </form>
</section>

{{#if user.projects.length}}
<section class="project-display">
  <ul class="project-list">
  {{#each user.projects}}
    <li>
      <button class="btn access-project-btn"><a href="/dashboard/edit/{{id}}">{{title}}</a></button>
      ({{pluralize "task" tasks.length}})
    </li>
  {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-project.js"></script>