<div id="description">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, repellendus eaque repellat laboriosam ullam quidem atque ipsum sit vero facilis iusto! Magni facilis voluptatibus at? Natus ut quasi ipsam cupiditate.
</div>
<h2>Log in to access your projects!</h2>
<input type="text" name="email-login" id="email-login" placeholder="Email">
<input type="password" name="password-login" id="password-login" placeholder="Password">
<button type="submit" id="login">Log In</button>
<p>Don't have an account?</p>
<a href="/signup">Sign Up</a>
<script src="/javascript/login.js"></script>
{{!-- <button type="submit" id="signup-redirect">Sign Up</button> --}}