<section class="account">
  <div class="account-header">
    <div id="description">
      <p>Create and manage projects with your team</p>
     </div>
    <h2>Log in to access your projects!</h2>
  </div>
    <form class="login-form">
      <input type="text" name="email-login" id="email-login" placeholder="Email">
      <br>
      <input type="password" name="password-login" id="password-login" placeholder="Password">
      <br>
      <button type="submit" id="login" class="btn">Log In</button>  
    </form>
      <p class="signup-direct">Don't have an account?</p>
      <button id="signup-link" class="btn-no-style"><a href="/signup">Sign Up</a></button>
</section>

<script src="/javascript/login.js"></script>