<section class="account">
  <div class="account-header">
    <div id="description">
      Welcome to Clonello little sister to Trello
    </div>
    <h2>Log in to access your projects!</h2>
  </div>
    <form class="login-form">
      <input type="text" name="email-login" id="email-login" placeholder="Email">
      <br>
      <input type="password" name="password-login" id="password-login" placeholder="Password">
      <br>
      <button type="submit" id="login" class="btn">Log In</button>  
    </form>
    <p>Don't have an account?</p>
    <br>
    <a href="/signup">Sign Up</a>
</section>

<script src="/javascript/login.js"></script>