<section class="account">
  <div class="account-header">
    <div id="description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, repellendus eaque repellat laboriosam ullam quidem atque ipsum sit vero facilis iusto! Magni facilis voluptatibus at? Natus ut quasi ipsam cupiditate.
    </div>
    <h2>Log in to access your projects!</h2>
  </div>
    <form class="login-form">
      <input type="text" name="email-login" id="email-login" placeholder="Email">
      <input type="password" name="password-login" id="password-login" placeholder="Password">
      <button type="submit" id="login" class="btn">Log In</button>  
    </form>
</section>


<script src="/javascript/login.js"></script>
{{!-- <button type="submit" id="signup-redirect">Sign Up</button> --}}