:root {
    --white: #f5f5f5;
    --blue: #1e6dff;
    --lilac: mediumslateblue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover, #logout:hover {
    font-style: italic;
}

input {
    color: black;
}

body {
    background-image: url('../images/background.jpg');
    background-position-x: center;
}

select, option {
    color: black;
}

header {
    background-color: var(--lilac);
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

header h1 {
    font-size: 32px;
    text-align: center;
    padding-left: 20px;
}

header a:visited {
    color: var(--white);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px;
    font-size: 20px;
}

header nav ul li {
    margin: 10px;
    cursor: pointer;
}

#description {
    font-size: 20px;
    padding: 25px;
}

.account-header h2 {
    margin-top: 35px;
}

/* utils */
.btn {
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.btn-no-style {
    outline: none;
    background: transparent;
}

.form-input {
    margin: 6px;
}

.back {
    margin: 30px;
}

/* log in and sign up */
.account {
    text-align: center;
    padding: 30px 50px;
}

.account h2 {
    margin-bottom: 5px;
}

.login-form, .signup-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#signup-btn, #login-btn {
    margin-top: 10px;
    font-weight: bold;
}

/* dashboard */
.create-project {
    text-align: center;
    margin-top: 100px;
}

#project-title {
    width: 260px;
}

#create-project-btn {
    width: 260px;
}

.project-display {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.access-project-btn {
    width: 20vw;
    background: none;
    border: 1px solid var(--white);
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

/* single-project view */
.modal-invite-user, .modal-add-task, .modal-add-status, .modal-delete-status {
    display: none;
    position: fixed;
    z-index: 1;
    width: 50%;
    height: 40%;
    overflow: auto;
    align-items: center;
    background-color: rgba(30, 109, 255, 0.8);
    color: var(--white);
    top: 30%;
    left: 25%;
}

.add-task, .add-status, .invite-user, .delete-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.card {
    background: linear-gradient(var(--blue), var(--lilac));
    transition: 0.3s;
    border-radius: 5px;
    width: 400px;
    height: 300px;
    padding: 30px;
    margin: 30px;
    word-wrap: break-word;
}

.task-display {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#task-title {
    text-align: center;
    font-size: 30px;
}

.task-btns {
    text-align: center;
}

/* edit task */

.edit-task-container {
    text-align: center;
    margin: 100px;
}

.edit-header {
    margin-bottom: 20px;
}

#edit-task-text, #task-user-menu, #status-menu {
    width: 30vw;
    margin-bottom: 15px;
}