:root {
    --white: #f5f5f5;
    --blue: #1e6dff;
    --lilac: mediumslateblue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover, #logout:hover {
    font-style: italic;
}

input {
    color: black;
}

body {
    background-image: url('../images/background.jpg');
    background-position-x: center;
}

select, option {
    color: black;
}

header {
    background-color: var(--lilac);
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

header h1 {
    font-size: 32px;
    text-align: center;
    padding-left: 20px;
}

header a:visited {
    color: var(--white);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px;
    font-size: 20px;
}

header nav ul li {
    margin: 10px;
    cursor: pointer;
}

#description {
    font-size: 20px;
    padding: 25px;
}

.account-header h2 {
    margin-top: 35px;
}

/* utils */
.btn {
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.btn-no-style {
    outline: none;
    background: transparent;
    margin-top: 20px;
    font-size: 20px;
}

.btn-go {
    background-color: green;
}

.btn-danger {
    background-color: red;
}

.form-input {
    margin: 6px;
}

.back {
    margin: 30px;
}

/* log in and sign up */
.account {
    text-align: center;
    padding: 30px 50px;
}

.account h2 {
    margin-bottom: 7px;
}

.login-form, .signup-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#signup, #login {
    margin-top: 10px;
    font-weight: bold;
    width: 150px;
}

#description {
    padding: 100px;
    font-size: 40px;
    font-family: garamond;
}

#signup-header {
    margin: 80px;
    font-size: 50px;
}

.signup-direct {
    font-size: 20px;
}

#email-login, #password-login, #email-signup, #username-signup, #password-signup {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

/* dashboard */
#project-form-header {
    margin: 50px;
}

.create-project {
    text-align: center;
    margin-top: 100px;
}

#project-title {
    width: 260px;
    height: 30px;
    margin-bottom: 10px;
}

#create-project-btn {
    width: 260px;
}

.project-display {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.access-project-btn {
    width: 20vw;
    background: none;
    border: 1px solid var(--white);
    overflow-wrap: break-word;
    font-size: 25px;
}

ul {
    list-style: none;
}

/* carousel */
.carousel-wrapper {
    overflow: hidden;
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
}

.how-to {
    background-color: rgba(245,245,245,0.9);
    color: var(--blue);
    text-align: center;
}

.how-to h2 {
    padding-top: 20px;
}

.how-to label {
    font-size: 12px;
}

.how-to h2, h3, span, label {
    color: var(--blue);
}

.footer-how-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.carousel-content {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel-photo {
    width: 80%;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
}

.info-container span {
    font-size: 14px;
}

.carousel-content.initial, .carousel-content.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel-content.prev, .carousel-content.next {
    z-index: 800;
}

.carousel-content.prev {
    transform: translateX(-100%);
}

.carousel-content.next {
    transform: translateX(100%);
}

.carousel-btn--prev,
.carousel-btn--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}

.carousel-btn--prev {
  left: 20px;
}

.carousel-btn--next {
  right: 20px;
}

.carousel-btn--prev::after,
.carousel-btn--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-btn--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-instructions {
    position: fixed;
    z-index: 1;
    width: 80%;
    height: 80%;
    align-items: center;
    top: 15%;
    left: 10%;
    padding: 15px;
}
    

/* single-project view */
.modal-invite-user, .modal-add-task, .modal-edit-status {
    display: none;
    position: fixed;
    z-index: 1;
    width: 45%;
    height: 60%;
    overflow: auto;
    align-items: center;
    background-color: rgba(30, 109, 255, 0.8);
    color: var(--white);
    top: 30%;
    left: 30%;
}

.add-task, .edit-status, .invite-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.btn-container {
    text-align: center;
}

.modal-btn {
    width: 200px;
}

.btn-invite-user {
    margin-bottom: 50px;
}

.project-title-display {
    font-size: 80px;
    margin: 50px;
    font-family: garamond;
}

#open-task-modal, #open-status-modal, #invite-btn {
    width: 200px;
    font-size: 20px;
}

.add-task-div {
    text-align: center;
}

.project-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.header-el {
    display: flex;
    flex-direction: column;
}

.project-view {
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.right-container {
    width: 75%;
}

.header-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

#edit-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* cards */

.card {
    background: var(--lilac);
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    word-wrap: break-word;
}

.task-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#task-title {
    text-align: center;
    font-size: 30px;
}

#task-title, .task-user, .task-status {
    margin-bottom: 20px;
}

.task-btns {
    text-align: center;
}

.btn-delete:hover {
    background-color: red;
}

/* edit task */

.edit-task-container {
    text-align: center;
    margin: 100px;
}

.edit-header {
    margin-bottom: 20px;
}

#edit-task-text, #task-user-menu, #status-menu, #new-status-text, #new-task {
    width: 30vw;
    margin-bottom: 15px;
}

/* MEDIA QUERY FOR SMALLER SCREENS */
@media screen and (max-width: 616px) {
    #signup-header {
        margin: 20px;
        font-size: 30px;
    }
    
    #description {
        padding: 0px;
    }

    #description p {
        font-size: 30px;
    }

    .account h2 {
        font-size: 20px;
    }

    .access-project-btn {
        font-size: 18px;
        width: fit-content;
    }

    .project-display {
        margin-top: 25px;
    }

    #project-title {
        margin-bottom: 0px;
    }

    .create-project {
        margin-top: 30px;
    }

    .project-form-header {
        margin: 30px;
    }
    .project-title-display {
        font-size: 50px;
        text-align: center;
    }

    .btn-invite-user {
        margin-bottom: 30px;
    }

    #open-task-modal, #open-status-modal, #invite-btn {
        font-size: 15px;
        padding: 5px;
        width: 80%;
    }

    .modal-instructions {
        top: 20%;
        left: 0%;
        padding: 0px;
        width: 100%;
    }

    .card {
        padding: 10px;
        margin: 10px;
        width: 200px;
        text-align: center;
    }

    .task-btns {
        display: flex;
    }

    .task-display {
        flex-direction: column;
        align-items: center;
    }

    .modal {
        width: 60%;
    }

    .modal-instructions {
        width: 100%;
    }

    .new-task-form {
        font-size: 12px;
        text-align: center;
    }

    .form-input {
        margin: 2px;
    }

    .modal-invite-user, .modal-add-task, .modal-edit-status {
        background-color: rgba(30, 109, 255, 1);
    }

    .member-list {
        font-size: 15px;
        margin-left: 15px;
    }

    .member-list h2 {
        font-size: 20px;
    }

    .how-to {
        margin-top: 30px;
        background-color: rgba(245,245,245,1);
    }

    .carousel-btn--next {
        right: 10px;
    }

    .carousel-btn--prev {
        left: 10px;
    }
}