:root {
    --white: #f5f5f5;
    --blue: #1e6dff;
    --lilac: mediumslateblue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover, #logout:hover {
    font-style: italic;
}

input {
    color: black;
}

body {
    background-image: url('../images/background.jpg');
    background-position-x: center;
}

select, option {
    color: black;
}

header {
    background-color: var(--lilac);
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

header h1 {
    font-size: 32px;
    text-align: center;
    padding-left: 20px;
}

header a:visited {
    color: var(--white);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px;
    font-size: 20px;
}

header nav ul li {
    margin: 10px;
    cursor: pointer;
}

#description {
    font-size: 20px;
    padding: 25px;
}

.account-header h2 {
    margin-top: 35px;
}

/* utils */
.btn {
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.btn-no-style {
    outline: none;
    background: transparent;
    margin-top: 20px;
    font-size: 20px;
}

.btn-go {
    background-color: green;
}

.btn-danger {
    background-color: red;
}

.form-input {
    margin: 6px;
}

.back {
    margin: 30px;
}

/* log in and sign up */
.account {
    text-align: center;
    padding: 30px 50px;
}

.account h2 {
    margin-bottom: 7px;
}

.login-form, .signup-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#signup, #login {
    margin-top: 10px;
    font-weight: bold;
    width: 150px;
}

#description {
    padding: 100px;
    font-size: 40px;
    font-family: garamond;
}

#signup-header {
    margin: 80px;
    font-size: 50px;
}

.signup-direct {
    font-size: 20px;
}

#email-login, #password-login, #email-signup, #username-signup, #password-signup {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

/* dashboard */
#project-form-header {
    margin: 50px;
}

.create-project {
    text-align: center;
    margin-top: 100px;
}

#project-title {
    width: 260px;
    height: 30px;
    margin-bottom: 10px;
}

#create-project-btn {
    width: 260px;
}

.project-display {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.access-project-btn {
    width: 20vw;
    background: none;
    border: 1px solid var(--white);
    overflow-wrap: break-word;
    font-size: 25px;
}

ul {
    list-style: none;
}

/* single-project view */
.modal-invite-user, .modal-add-task, .modal-edit-status {
    display: none;
    position: fixed;
    z-index: 1;
    width: 45%;
    height: 60%;
    overflow: auto;
    align-items: center;
    background-color: rgba(30, 109, 255, 0.8);
    color: var(--white);
    top: 30%;
    left: 30%;
}

.add-task, .edit-status, .invite-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.btn-container {
    text-align: center;
}

.modal-btn {
    width: 200px;
}

.btn-invite-user {
    margin-bottom: 50px;
}

.project-title-display {
    font-size: 80px;
    margin: 50px;
    font-family: garamond;
}

#open-task-modal, #open-status-modal, #invite-btn {
    width: 300px;
    font-size: 20px;
}

.add-task-div {
    text-align: center;
}

.project-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.header-el {
    display: block;
}

#edit-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* cards */

.card {
    background: var(--lilac);
    transition: 0.3s;
    border-radius: 5px;
    width: 400px;
    padding: 30px;
    margin: 30px;
    word-wrap: break-word;
}

.task-display {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#task-title {
    text-align: center;
    font-size: 30px;
}

#task-title, .task-user, .task-status {
    margin-bottom: 20px;
}

.task-btns {
    text-align: center;
}

.btn-delete:hover {
    background-color: red;
}

/* edit task */

.edit-task-container {
    text-align: center;
    margin: 100px;
}

.edit-header {
    margin-bottom: 20px;
}

#edit-task-text, #task-user-menu, #status-menu, #new-status-text, #new-task {
    width: 30vw;
    margin-bottom: 15px;
}